@charset "utf-8";
/* CSS Document */


/*---between--------*/
@media screen and (min-width:1499px) and (max-width:1899px){

}


/*---min-width------*/
@media (min-width: 349.98px) {
	
}

@media (min-width: 479.98px) {
	
}

@media (min-width: 575.98px) {

}

@media (min-width: 767.98px) {

}

@media (min-width: 991.98px) {

}

@media (min-width: 1199.98px) {

}

@media (min-width: 1399.98px) {

}

/*---max-width------*/
@media (max-width: 1599px){
    .guest-row .col-cust-box{
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
    }
    .fea-box7{
        left: 0%;
    }
    .fea-box8{
        left: -2%;
    }

}

@media (max-width: 1399.98px) {
    .system-data-list:before,
    .sytem-d-box:before{
        left: -55px;
    }
    .feather-main-img{
        max-width: 750px;
    }
    .fea-box1 {
        top: 8%;
        left: 36%;
    }
    .fea-box2{
        top: 11%;
        left: 62%;
    }
    .fea-box3{
        top: 33%;
        left: 71%;
    }
    .fea-box4{
        top: 71%;
        left: 82%;
    }
    .fea-box5{
        top: 80%;
        left: 59%;
    }
    .fea-box6{
        top: 80%;
        left: 14%;
    }
    .fea-box7{
        top: 40%;
        left: 0%;
    }
    .fea-box8 {
        top: 17%;
        left: -1%;
    }
    .road-box h6{
        font-size: 22px;
    }
    .road-box p{
        font-size: 16px;
    }
    .logo-part a img{
        max-width: 160px;
    }
}

@media (max-width: 1199.98px) {
    /* Header */
    .account-right {
        margin-left: auto;
    }
    .menu-part {
        position: fixed;
        width: 100%;
        max-height: 320px;
        margin-left: 0px;
        margin-right: 0px;
        background-color: #030C10;
        padding: 15px;
        top: 72px;
        left: 0;
        right: 0;
        overflow-x: hidden;
        z-index: 99;
        box-shadow: 0 6px 6px rgb(0 0 0 / 16%);
        display: none;
    }
    .menu-part.active {
        right: 0;
    }
    .close-menu {
        position: absolute;
        right: 7px;
        top: 7px;
        width: 35px;
        height: 35px;
        background-color: #ff5252;
        text-align: center;
        color: #fff !important;
        font-size: 14px;
        border-radius: 4px;
        padding-top: 8px;
    }
    .toggle-btn {
        margin-left: 10px;
        text-align: center;
    }
    .toggle-btn a {
        width: 25px;
        display: block;
    }
    .toggle-btn a i {
        display: block;
        width: 24px;
        background: #fff;
        height: 2px;
        display: block;
        margin: 6px 0px;
        width: 100%;
    }
    .nav-bar > ul > li > a {
        padding: 9px 18px;
        border-radius: 4px;
    }
    .nav-bar li {
        margin-left: 0px;
        display: inline-block;
        width: 100%;
    }
    .signin-btn.login-buttons .header-btn{
        padding: 11px 17px;
        border-radius: 50%;
        width: 36px;
        height: 36px;
    }
    .signin-btn.login-buttons .header-btn span {
        display: none;
    }
    .signin-btn.login-buttons .header-btn i {
        display: inline-block;
        margin-right: 0;
    }
    .signin-btn.login-buttons .header-btn.green-btn{
        min-width: inherit;
    }
    .nav-bar > ul > li.active > a {
        background-image: -webkit-linear-gradient(90deg, #04FF8A, #00C76A);
        background-image: -moz-linear-gradient(90deg, #04FF8A, #00C76A);
        background-image: -ms-linear-gradient(90deg, #04FF8A, #00C76A);
        background-image: -o-linear-gradient(90deg, #04FF8A, #00C76A);
        background-image: linear-gradient(90deg, #04FF8A, #00C76A);
        color: #030C10;
    }
    .menu-part {
        margin-left: 0px;
        margin-right: 0px;
    }
    .menu-dropdown .dropdown-menu {
        position: inherit;
        box-shadow: none;
        border: none;
        margin-top: 0;
        animation-duration: inherit;
        animation-fill-mode: inherit;
        animation-name: inherit;
        padding: 6px;
        padding-left: 12px;
        padding-top: 5px;
        width: 100%;
        display: none;
        transform: none !important;
    }
    .menu-dropdown .dropdown-menu.show {
        display: block;
        transform: none !important;
    }
    .dropdown-menu > .dropdown .dropdown-menu{
        top: 0;
        left: 0;
        padding-bottom: 0;
        padding-left: 12px;
    }
    .menu-data li a.drop-link {
        font-size: 14px;
    }
    .menu-dropdown .dropdown-links li.active a {
        color: #5a8dee;
    }
    .menu-dropdown .menu-link-drop i {
        position: absolute;
        top: 12px;
        right: 10px;
    }
    .menu-link-drop:after {
        position: absolute;
        right: 15px;
    }
    .nav-bar li.dropdown-divider{
        margin: 0;
        display: block;
    }
    .menu-part .nav-bar {
        max-width: 930px;
        margin: 0 auto;
    }
    .footer-flex-box{
        flex-direction: column;
    }
    .footer-flex-box .logo-part{
        margin-bottom: 30px;
    }
    .footer-flex-box .footer-menu-part{
        margin-bottom: 20px;
    }
    .system-data-list{
        margin-left: 70px;
        margin-top: 40px;
    }
    .system-data-list:before{
        height: calc(130%);
        top: -15%;
    }
    .host-box{
        max-width: inherit;
        margin-bottom: 50px;
    }
    .slide-arrow.prev-arrow{
        left: -10px;
    }
    .feather-main-img{
        width: 100%;
        margin-bottom: 40px;
    }
    .feature-row{
        display: flex;
    }
    .feature-data-section{
        padding-top: 0;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 15px;
    }
    .fea-box{
        position: inherit;
        left: inherit;
        right: inherit;
        top: inherit;
        bottom: inherit;
        margin-top: 30px;
        text-align: left;
    }
    .fea-box:before{
        display: none;
    }
    .roadmap-section:before{
        display: none;
    }
    .road-box{
        margin-top: 100px;
    }
    .road-box .rd-dot{
        bottom: -25%;
    }
    .everyone-value .guest-row{
        column-gap: inherit;
    }
    .app-images{
        justify-content: center;
    }
    .iphone-img{
        margin-left: 0;
        text-align: center;
    }
}

@media (max-width: 991.98px) {
    .menu-part .nav-bar {
        max-width: 695px;
        margin: 0 auto;
    }
    .hero-content{
        max-width: inherit;
    }
    .road-box{
        margin-top: 60px;
    }
    .road-box .rd-dot {
        bottom: -20%;
    }
    .getapp-section .section-title{ 
        text-align: center;
    }
    .guest-row .col-cust-box{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 767.98px) {


    .user-dropdown-toggle .userprofile-header {
        margin-left: 3px;
    }
    .user-dropdown-toggle .userprofile-data{
        display: none;
    }
    .user-dropdown-toggle .userprofile-img img {
        min-width: 30px;
        min-height: 30px;
        height: 30px;
        width: 30px;
    }
    .nav-bar > ul > li > a{
        font-size: 14px
    }
    .menu-part .nav-bar {
        max-width: 510px;
    }
    .hero-content h1{
        font-size: 40px;
    }
    .hero-content p{
        font-size: 14px;
    }
    .guest-row .col-cust-box{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .section-title h2{
        font-size: 34px;
    }
    .sytem-d-box h6,
    .host-box h6{
        font-size: 24px;
    }
    .sytem-d-box p{
        font-size: 14px;
    }
    .host-small-box h6,
    .host-small-box h5,
    .host-tx-box h6,
    .host-box li p,
    .fea-box h6,
    .philosophy-container .section-title p{
        font-size: 16px;
    }
    .host-tx-box p,
    .fea-box p{
        font-size: 14px;
    }
    .host-box li{
        margin-bottom: 15px;
    }
    .crew-box h6{
        font-size: 18px;
    }
    .crew-box p{
        font-size: 12px;
    }
}

@media (max-width: 575.98px) {

    .lang-dropdown,
    .notice-dropdown,
    .profile_log {
        margin-left: 5px;
    }
    .logo-part a img{
        max-width: 140px;
    }
    .menu-part{
        top: 65px;
    }
    .main-content-sections{
        padding-top: 63px;
    }
    .hero-section{
        padding: 80px 0px;
    }
    .hero-section:before{
        opacity: 0.8;
    }
    .fea-box{
        text-align: center;
    }
    .footer-menu-part ul li a{
        font-size: 14px;
    }
    .roadmap-section .section-title{
        margin-bottom: 0;
    }
}

@media (max-width: 479.98px) {
    /* Header */
    .notice-dropdown .dropdown-menu {
        min-width: 300px;
        right: -75px;
    }
    .notifi-box .notify-d-data .notify-title{
        max-width: 158px;
    }
    .lang-dropdown-toggle img {
        margin-right: 0px;
    }
    .lang-dropdown-toggle span {
        display: none;
    }
    .lang-dropdown-toggle{
        min-width: initial;
    }
    .notice-dropdown {
        margin-left: 0;
    }
    .signin-btn .btn-primary i {
        display: block;
    }
    .signin-btn .btn-primary span {
        display: none;
    }
    .signin-btn .btn-primary {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        color: #1e2e50;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        padding: 0;
        padding-left: 4px;
    }
    .signin-btn.login-buttons .btn-primary:last-child {
        display: none;
    }
    .app-images{
        flex-direction: column;
        align-items: center;
    }
    .app-images img{
        max-width: 150px;

    }
}


@media (max-width: 349.98px) {
	
}